.THIS.scrollerSize {
    margin-top: 20px;
    border-top: solid 1px lightgray;
    overflow:scroll;
    height: 500px;
    max-width: 350px;
    overscroll-behavior: contain;
}

.THIS .no-contacts{
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}

.THIS.searchBar{
    width: 350px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.THIS.exampleHolder{
    margin-top: -100px;
    display: inline-block;
    width: 80px;
    height: 80px;
}
