/**
 * Created by pmcclellan on 12/21/17.
 */
.THIS.contact-tile {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.THIS .detail {
    margin-top: -3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .truncate {
   width: 98%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.THIS .flush-right {
    
    text-align: right;

}